/*GRUVi-footer */
.GRUVi-footer a {
    display: inline-block !important;
    padding: 8px 15px !important;
    color: #333 !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
    font-family: Arial, sans-serif !important; /* Fuente */
    font-size: 16px !important; /* Tamaño de texto */
}

/* Estilos generales para el footer */
.GRUVi-footer {
    background-color: #f8f8f8; /* Color de fondo */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
    font-family: Arial, sans-serif; /* Fuente */
  }
  
  /* Contenedor principal */
  .GRUVi-footer .bb.ze.ki.xn {
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0 20px; /* Espaciado lateral */
  }
  
  /* Footer inferior */
  .GRUVi-footer .bh.ch.pm {
    padding: 20px 0; /* Espaciado interno */
    border-top: 1px solid #ddd; /* Línea divisoria (opcional) */
  }
  
  /* Aviso de privacidad */
  .GRUVi-footer .bh.ch.pm .tc.wf.gg a.xl {
    color: #333; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.3s ease; /* Transición suave */
  }
  
  .GRUVi-footer .bh.ch.pm .tc.wf.gg a.xl:hover {
    color: #2fd1a9 !important; /* Cambiar color al pasar el mouse */
  }
  
  /* Copyright */
  .GRUVi-footer .bh.ch.pm p {
    font-size: 14px; /* Tamaño de la fuente */
    color: #666; /* Color del texto */
    margin-top: 10px; /* Espacio arriba del texto */
  }
  .footer-link:hover {
    color: #2fd1a9 !important; /* Cambiar color al pasar el mouse */
  }