
<div class="card">
    <img src="images/mision.png" alt="Misión" class="img-fluid" />
    <h4 class="title">Misión</h4>
    <p>
        🚌 **En GRUVi, conectamos personas y destinos** ofreciendo servicios de transporte accesibles, cómodos y seguros para cada viaje.
    </p>
</div>

   