@page
@model ContactoModel
@{
    ViewData["Title"] = "Contacto | GRUVi";
}

<partial name="_Header" />

<section class="lj tp kr">
    <div class="animate_top bb ze rj ki xn vq">
        <h2>Contacto</h2>
        <p>Estamos aquí para ayudarte. Contáctanos para más información.</p>
    </div>
</section>

<div class="bb ze i va ki xn xq jb jo">
    <div class="wc qf pn xo gg cp">
        <div class="animate_top rj">
            <div class="c i pg z-1">
                <img class="vd" src="images/team-01.png" alt="Team" />
            </div>
            <h4 class="yj go kk wm ob zb">Olivia Andrium</h4>
            <p>Product Manager</p>
        </div>

        <div class="animate_top rj">
            <div class="c i pg z-1">
                <img class="vd" src="images/team-02.png" alt="Team" />
            </div>
            <h4 class="yj go kk wm ob zb">Jemse Kemorun</h4>
            <p>Product Designer</p>
        </div>

        <div class="animate_top rj">
            <div class="c i pg z-1">
                <img class="vd" src="images/team-03.png" alt="Team" />
            </div>
            <h4 class="yj go kk wm ob zb">Avi Pestarica</h4>
            <p>Web Designer</p>
        </div>
    </div>
</div>

